<%# add navigation links to this file %>

<% if employee_signed_in? %>
  <!-- Alteração -->
  <li>
    <a href="#" data-dropdown="drop" >Cadastrar</a>
    <ul id="drop" class="f-dropdown" data-dropdown-content>
      <li><a href="#"><%= link_to 'Aluno', new_create_student_url %></a></li>
      <li><a href="#"><%= link_to 'Horario', new_employee_book_url %></li>
      <li><a href="#">Ficha</a></li>
      <li><a href="#">Avaliacao</a></li>
      <li><a href="#">Teste Carga</a></li>
      <li><a href="#">Horário Avaliação</a></li>
      <li><a href="#">Treino</a></li>
    </ul>
  </li>
  <!-- Fim Alteração -->
<% end %>

<% if student_signed_in? %>
  <li> <%= link_to 'Horarios', student_books_path %> </li>
  <li> <a href="#">Avaliacao</a> </li>
<% elsif employee_signed_in? %>
  <li> <%= link_to 'Horarios', employee_books_path %> </li>
<% end %>

<li><%= link_to 'About', about_path %></li>
